---
import Layout from "../layouts/Layout.astro";
import Client from "../components/Client.astro"
import { Debug } from 'astro/components';
import * as prismicH from '@prismicio/helpers';

import {getAllClients} from '../prismic.js';

const clients = await getAllClients();
const {results} = clients;
---
<Layout title="Clients - Weigel's Custom Laser Engraving">
    <section class="container mx-auto max-w-7xl m-4">
        <div class="flex justify-center mb-4">
            <h3 class="prose text-5xl">Our Clients</h3>
          </div>
        <div class="px-2 sm:px-0 sm:grid sm:grid-cols-5 sm:gap-2 items-center">
            {results.map((client) => {
                return <Client 
                    name={client.data.name}
                    logo={client.data.logo}
                    description={client.data.description}
                />
            })}
        </div>
    </section>
    <!-- <Debug {results} /> -->
</Layout>