---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ClientCard from "../components/ClientCard.astro";
import Technology from "../components/Technology.astro";
import Contact from "../components/Contact.astro";
import { Image } from '@astrojs/image/components';
import { Debug } from "astro/components";
import * as prismicH from "@prismicio/helpers";

import {
  getAllServices,
  getFrontPage,
  getAllClients,
  getAllTechnologies,
} from "../prismic.js";

const servicesResults = await getAllServices();
const services = servicesResults.results;

const clientsResults = await getAllClients();
const clients = clientsResults.results;

const technologiesResults = await getAllTechnologies();
const technologies = technologiesResults.results;

const fpResults = await getFrontPage();
const fp = fpResults.results[0].data;

const textItem1 = prismicH.asHTML(fp.text_item_1);
const textItem2 = prismicH.asHTML(fp.text_item_2);
const textItem3 = prismicH.asHTML(fp.text_item_3);
const Image1 = fp.image_1;
---

<Layout title="Wiegel's | Laser Marking Services | 22 Years of Experience">
  <!-- Clients -->
  <section class="max-w-7xl mx-auto mt-4">
    <div class="flex justify-center">
      <h3 class="text-5xl">A Few of Our Clients</h3>
    </div>
    <div class="flex flex-wrap sm:flex-nowrap items-center sm:gap-5 px-3 sm:py-0">
      {
        clients.map((client) => {
          return (
            <ClientCard
              name={client.data.name}
              logo={client.data.logo}
            />
          );
        })
      }
    </div>
  </section>

  <!-- Services -->
  <section class="max-w-7xl mx-auto">
    <div class="mt-8 sm:flex sm:justify-between">
      {
        services.map((service) => {
          return (
            <ServiceCard
              name={service.data.name}
              subtitle={service.data.cardsubtitle}
              image={service.data.image}
            />
          );
        })
      }
    </div>
  </section>

  <!-- Who We Serve -->
  <section class="bg-gray-200 mt-2 sm:mt-10 p-8">
    <div class="container mx-auto max-w-7xl">
      <h2 class="text-5xl">Who We Serve</h2>
      <div class="sm:flex gap-3 mt-6">
        <div class="flex-1">
          <div class="prose" set:html={textItem1}></div>
          <div class="mt-3 prose" set:html={textItem2}></div>
        </div>
      <div class="flex-1">
          <div class="prose prose-li:list-disc prose-li:my-0" set:html={textItem3}></div>
      </div>
      <div class="flex-none pt-3">
          <Image src={Image1.url} width={Image1.dimensions.width} height={Image1.dimensions.height}></Image>
      </div>
        <!-- <Debug {textItem1}></Debug> -->
      </div>
    </div>
  </section>

  <!-- Technologies -->
  <section class="p-8">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-5xl" >Our Shop</h2>
      <div>
        {technologies.map((technology, index) => {
            return <Technology 
              title={technology.data.title}
              description={technology.data.description}
              image={technology.data.image}
              index={index}
          />
        })}
      </div>
    </div>
  </section>

  <section class="bg-gray-200 p-8">
	   <Contact />
  </section>
</Layout>

<!-- <Debug {data} /> -->
