---
import Layout from "../layouts/Layout.astro";
import Service from "../components/Service.astro";
import { Debug } from 'astro/components';
import * as prismicH from '@prismicio/helpers';

import {getAllServices} from '../prismic.js';

const servicesResults = await getAllServices();
const services = servicesResults.results;
---
<Layout title="Weigel's | Laser Marking Services | Aluminum, Steel, and Plastic">
    <div>
        {services.map((service, index) => {
            return <Service 
                name={service.data.name}
                subtitle={service.data.cardsubtitle}
                description={service.data.description}
                index={index}
            />
        })}
    </div>
<!-- <Debug {results} /> -->
</Layout>