---
import * as prismicH from '@prismicio/helpers';
import { Debug } from 'astro/components';
import { Image } from '@astrojs/image/components';

const {name, logo, description} = Astro.props;

const renderedName = prismicH.asHTML(name);
const renderedDescription = prismicH.asHTML(description);

---
<!-- <Debug {logo} /> -->
<div>
    <Image class="basis-1/2 pb-3" src={logo.large.url} width={logo.large.dimensions.width} height={logo.large.dimensions.height} alt={logo.large.alt}></Image>
    <span class="prose prose-sm" set:html="renderedDescription"></span>
</div>