---
import * as prismicH from '@prismicio/helpers';
import { Debug } from 'astro/components';
import { Image } from '@astrojs/image/components';

const {name, subtitle, image} = Astro.props;

const renderedName = prismicH.asText(name);
const url = '/services#' + prismicH.asText(name).replaceAll(' ', '');
---
<!-- <Debug {anchor} /> -->
<div class="relative overflow-hidden shadow-lg cursor-pointer w-1/3 gap-x-5 flex flex-1 justify-end drop-shadow-lg">
	<a href={url}>
		<Image src={image.url} width={image.dimensions.width} height={image.dimensions.height} class="rounded-lg"></Image>
		<div class="absolute bottom-0 left-0 px-4 py-4">
			<h4 set:html={renderedName} class="text-xl font-semibold tracking-tight text-white"></h4>
			<p class="leading-normal text-gray-100 text-xs">{subtitle}</p>
		</div>
    </a> 
</div>