---
import * as prismicH from '@prismicio/helpers';
import { Debug } from 'astro/components';
import { Image } from '@astrojs/image/components';

const {title, description, image, index} = Astro.props;

const renderedName = prismicH.asText(title);
const renderedDescription = prismicH.asHTML(description);

---
<div class="mt-5 flex">
    <div>
        <h2 class="prose font-bold text-lg" set:html={renderedName}></h2>
        <div class="prose flex-1" set:html={renderedDescription}></div>
    </div>
    <Image class:list={['basis-1/4 self-center' , index !== 0 && 'order-first']} src={image.url} width={image.dimensions.width} height={image.dimensions.height}></Image>
</div>