---
import * as prismicH from '@prismicio/helpers';
import { Debug } from 'astro/components';
import { Image } from '@astrojs/image/components';

const {title, description, image} = Astro.props;

const renderedName = prismicH.asHTML(title);
const renderedDescription = prismicH.asHTML(description);

---
<!-- <Debug {name} /> -->
<section class="mt">
    <h2 set:html={renderedName}></h2>
    <div set:html={renderedDescription}></div>
    <Image src={image.url} width={image.dimensions.width} height={image.dimensions.height}></Image>
</section>